@import url('https://fonts.googleapis.com/css2?family=Bitcount+Grid+Single:wght@100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Saira:ital,wght@0,600;1,600&display=swap');

/* Paleta de colores: https://coolors.co/d9ed92-b5e48c-99d98c-76c893-52b69a-34a0a4-168aad-1a759f-1e6091-184e77 */

.nabla {
  font-family: "Nabla", system-ui;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "EDPT" 100,
    "EHLT" 12;
}


html, body{
    font-family: "Nabla", system-ui;
    margin: 0;
    padding: 0;
    background-image: linear-gradient(to bottom right, #168AAD, #1E6091, #168AAD, #1E6091);
    background-size: cover;
    scroll-behavior: smooth;
}

*{
    box-sizing: border-box;
}

.header{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    border-bottom: 1px solid #000;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.728);
    backdrop-filter: blur(2px);
    box-shadow: 0 0 4px .1px #000000;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.header-list{
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    flex-basis: 0;
    gap: 50px;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.list-item{
    position: relative;
    display: inline-block;
    list-style: none;
    padding: 0;
    font-size: 22px;
}

.list-item a, .list-item{
    color: #d6d6d6;
    text-decoration: none;
    cursor: pointer;
}

.list-item::before{
    content: '';
    position: absolute;
    height: 2px;
    width: 0%;
    background-color: #b5e48c;
    bottom: 0;
    right: 50%;
    margin-bottom: -5px;
    transition: width .4s;
    box-shadow: 0 0 4px .1px #52b69a;
}

.list-item::after{
    content: '';
    position: absolute;
    height: 2px;
    width: 0%;
    background-color: #52b69a;
    bottom: 0;
    left: 50%;
    transition: width .4s;
    margin-bottom: -5px;
    box-shadow: 0 0 4px .1px #52b69a;
}

.list-item:hover::before{
    content: '';
    position: absolute;
    height: 2px;
    width: 50%;
    background-color: #b5e48c;
    bottom: 0;
    margin-bottom: -5px;
}

.list-item:hover::after{
    content: '';
    position: absolute;
    height: 2px;
    width: 50%;
    background-color: #52b69a;
    bottom: 0;
    margin-bottom: -5px;
}

.list-menu{
    position: absolute;
    list-style: none;
    width: 100%;
    margin-top: 5px;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.728);
    backdrop-filter: blur(2px);
    border-top: none;
    padding: 0;
    transition: padding 1s;
    transform: scaleY(0);
    transform-origin: top;
    opacity: 0;
    font-size: 20px;
    text-align: center;
    transition: transform .3s ease, opacity .3s ease;
    /* Utilizar el after y el before de las lista para hacer un despliege mejor */
}

.list-item:hover .list-menu, .list-menu:hover .list-menu{
  display: block;
  padding-top: 10px;
  transform: scaleY(1);
  opacity: 1;
}

.list-menu::before{
    content: '';
    position: absolute;
    width: 2px;
    height: 0%;
    background-color: #b5e48c;
    top: 0;
    left: 0;
    transition: height .4s;
    box-shadow: 0 0 4px .1px #52b69a;
}

.list-menu::after{
    content: '';
    position: absolute;
    width: 2px;
    height: 0%;
    background-color: #52b69a;
    top: 0;
    right: 0;
    transition: height .4s;
    box-shadow: 0 0 4px .1px #52b69a;
}

.list-item:hover .list-menu::before{
    content: '';
    position: absolute;
    width: 2px;
    height: 100%;
    background-color: #b5e48c;
    top: 0;
    left: 0;
    transition-delay: .31s;
}

.list-item:hover .list-menu::after{
    content: '';
    position: absolute;
    width: 2px;
    height: 100%;
    background-color: #52b69a;
    top: 0;
    right: 0;
    transition-delay: .31s;
}

.last-item::before{
    content: '';
    position: absolute;
    height: 2px;
    width: 0%;
    background-color: #b5e48c;
    bottom: 0;
    left: 0%;
    transition: width .4s;
    transition-delay: .7s;
    box-shadow: 0 0 4px .1px #52b69a;
}

.last-item::after{
    content: '';
    position: absolute;
    height: 2px;
    width: 0%;
    background-color: #52b69a;
    bottom: 0;
    right: 0%;
    transition: width .4s;
    transition-delay: .7s;
    box-shadow: 0 0 4px .1px #52b69a;
}

.list-item:hover .last-item::before{
    content: '';
    position: absolute;
    height: 2px;
    width: 50%;
    background-color: #b5e48c;
    bottom: 0;
    left: 0;
}

.list-item:hover .last-item::after{
    content: '';
    position: absolute;
    height: 2px;
    width: 50%;
    background-color: #52b69a;
    bottom: 0;
}

.list-menu-item{
    margin: 20px 10px;

}

.image-container img{
    transition: transform 1s, filter 1s;
    transform: scale(0.8);
    opacity: 0.8;
}

.image-container img:hover{
    transform: scale(0.7);
    filter: drop-shadow(0 0 2px #52b69a7f);
}

.header-2{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    border-top: 1px solid transparent;
    border-right: 1px solid #000;
    width: 4%;
    background-color: rgba(0, 0, 0, 0.728);
    backdrop-filter: blur(2px);
    box-shadow: 0 0 4px .1px #000000;
    position: sticky;
    z-index: 100;
    height: calc(100vh - 114px);
    padding: 0 3%;
    position: sticky;
    top: 113px;
    transition: padding .6s;
}

.header-2:hover{
    padding: 0 5%;
}

.list-names{
    display: none;
    text-align: center;
}

.list-item-2:hover .list-names{
    display: inline;
    font-size: 20px;
}

.header-2-list{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex-grow: 1;
    flex-basis: 0;
    gap: 50px 0px;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.list-item-2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    list-style: none;
    padding: 0;
    font-size: 22px;
    position: relative;
    transition: font-size 1s;
}

.list-link{
    display: flex;
    flex-direction: column;
    color: #d6d6d6;
    text-decoration: none;
}

.main{
    display: flex;
}

.ioc-image{
    height: 85px;
    transform: scale(0.5);
}

.ieduca-image{
    height: 80px;
    transform: scale(0.7);
}

.classroom-image{
    height: 85px;
    transform: scale(0.5);
}

.drive-image{
    height: 85px;
    transform: scale(0.5);
}

.gmail-image{
    height: 85px;
    transform: scale(0.5);
}

.generalitat-image{
    height: 85px;
    transform: scale(0.5);
}

.list-item-2::before{
    content: '';
    position: absolute;
    height: 2px;
    width: 0%;
    background-color: #b5e48c;
    bottom: 0;
    left: 0;
    margin-bottom: -5px;
    transition: width .4s;
    box-shadow: 0 0 4px .1px #52b69a;
}

.list-item-2::after{
    content: '';
    position: absolute;
    height: 2px;
    width: 0%;
    background-color: #52b69a;
    top: 0;
    right: 0;
    transition: width .4s;
    margin-top: -5px;
    box-shadow: 0 0 4px .1px #52b69a;
}

.list-item-2:hover::before{
    content: '';
    position: absolute;
    height: 2px;
    width: 100%;
    background-color: #b5e48c;
    bottom: 0;
    left: 0;
    margin-bottom: -5px;
}

.list-item-2:hover::after{
    content: '';
    position: absolute;
    height: 2px;
    width: 100%;
    background-color: #52b69a;
    top: 0;
    right: 0;
    margin-top: -5px;
}
